{% extends 'layout.html' %}

{% block title %}
User Login
{% endblock %}

{% block content %}
<section class="login-section">
    <div class="login-container">
        <h1>User Login</h1>
        <form class="form-with-validation login-form" action="/users/login/" method="post" id="loginForm">
            {% csrf_token %}
            {{ form }}
            {% if request.GET.next %}
               <input type="hidden" name="next" value="{{request.GET.next}}" />
            {% endif %}
            <button class="form-submit" id="submitButton">
                Submit <span class="loading-spinner" style="display: none;"></span>
            </button>
            <p class="success-message" id="successMessage">Done!</p>
        </form>
        <p class="signup-prompt">Don't have an account? <a href="{% url 'users:register' %}">Sign up</a></p>
    </div>
</section>
{% endblock %}
