<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
       {% block title %}
          title
       {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <div class="container">
        <nav class="nav">
            <a href="/">Home</a>
            <a href="/about">About</a>
            
            <!-- putting if statement to the web to only see this following 'nav' if this contition statify -->
            {% if user.is_authenticated %}
                <a href="{% url 'posts:new-post' %}">new post</a>
                <form class="logout" action="{% url 'users:logout' %}"
                method="post">
                {% csrf_token %}
                <button class="logout_button" title="User logout">logout</button>
                </form>
            {% else %}
                <a href="{% url 'posts:list' %}">Post</a>
                <a href="{% url 'users:register' %}">Create account</a>
                <a href="{% url 'users:login' %}">Login</a>
            {%endif%}
        </nav>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>
